@import "variables";




.acercade {
    width: $boxWidth;
    background-color: aquamarine;
}
p {
    background-color: aquamarine;
    text-align: center;
}
h1 {
    background-color: aquamarine;
    text-align: center;
}


